
#jzzf_selection select {
    width: 500px;
}

#jzzf_selection label {
    margin-right: 12px;    
}

#jzzf_selection a {
    padding-left: 5px;
}

.jzzf_column_heading {
    margin-bottom: 10px;
}

#jzzf_tabs {
    margin: 10px 0 0 20px;
    list-style-type: none;
    display: block;
    height: 30px;
}

#jzzf_tabs li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px 0 0px;
    border: 1px solid #ddd;
    height: 13px;
    z-index: 10;
    background-color: #eee;
}

#jzzf_tabs li.jzzf_current_tab {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#jzzf_main {
    overflow: hidden;
    background-color: #fff;
    margin: 0 10px 10px 0px;
    padding: 20px;
    border: 1px solid #ddd;
}

#jzzf_elements_toolbox {
    display: block;
    overflow: visible;
    width: 200px;
    float: left;
    clear: both;
}

#jzzf_elements_toolbox_items items {
    padding: 10px;
}

#jzzf_elements_toolbox_items li {
    background: #ddd;
    border: 1px solid #ccc;
    padding: 8px;
    height: 20px;
    width: 100px;
}

#jzzf_elements_push_for_action {
    text-align: center;
    margin-top: 80px;
    float: left;
    width: 150px;
}

#jzzf_elements {
    overflow: hidden;
    margin-left: 400px;
    width: 500px;
}

#jzzf_elements_list {
    min-height: 200px;
    padding: 10px;
    overflow: hidden;
    background: #eee;
}

.jzzf_element {
    margin: 5px;
    border: 1px solid #ccc;
}

.jzzf_element_header {
    background: #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    height: 20px;
}

.jzzf_element_header .jzzf_element_delete {
    float: right;
}

.jzzf_element_body {
    background: #fff;
    padding: 8px 12px;
}

.jzzf_element_body label, .jzzf_section > ul > li > label {
    display: inline-block;
    width: 100px;
    margin-right: 12px;
}

.jzzf_element_body fieldset ul li input, .jzzf_section > ul > li > input[type=text]  {
    width: 280px;
}

.jzzf_element_body legend {
    padding: 8px 0;
}

.jzzf_element.jzzf_collapsed .jzzf_element_body {
    display: none;
}

.jzzf_option_table thead tr th {
    text-align: left;
    font-weight: normal;
}

.jzzf_column_title, .jzzf_column_value {
    width: 174px;
}

#jzzf_form_form input {
    margin-right: 12px;
}